@import 'Global.scss';

.CreateTodoButton {
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 50%;
  font-size: 4.2rem;
  background-color: $action-color;
  color: $base-color;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.CreateTodoButton:hover {
  transform: scale(1.1);
}
