@import 'Global.scss';

.TodoItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid $text-color;
  border-radius: 0.5rem;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
}

.TodoItem img {
  width: 32px;
}

.TodoItem__check {
  margin-right: 1rem;
}

.TodoItem__close {
  position: absolute;
  right: 20px;
  top: -16px;
}

.TodoItem p {
  font-size: 1.6rem;
  font-weight: 900;
  color: $text-color;
}
