@import 'Global.scss';

.LoadingTodo-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding: 2rem 1rem;
  border: 2px solid $text-color;
  border-radius: 0.8rem;
  opacity: 25%;
}

.LoadingTodo-completeIcon {
  width: 32px;
  margin-right: 1rem;
  filter: grayscale(100%);
}

.LoadingTodo-text {
  font-size: 1.6rem;
  font-weight: 900;
  color: $text-color;
}

.LoadingTodo-deleteIcon {
  width: 32px;
  position: absolute;
  right: 20px;
  top: -16px;
  filter: grayscale(90%);
}
